NEXT_PUBLIC_SUPABASE_URL=https://ktbwxwzxsljjhtallios.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://pinpoint-seven.vercel.app
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT=ca-pub-4621241846705196
NEXT_PUBLIC_CONTACT_EMAIL=
